@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Color Palette */
  --clr-rose-800: #7a284e;
  --clr-rose-50: #fff7fb;
  --clr-stone-900: #312e2c;
  --clr-stone-600: #5f564d;
  --clr-stone-150: #e3ddd7;
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-brown-800: #854632;
  --clr-white: #ffffff;
  /* Font Families */
  --ff-Youngserif: "Young Serif", system-ui, sans-serif;
  --ff-Outfit: "Outfit", system-ui, sans-serif;
  /* Font size */
  --fs-40px: 2.5rem;
  --fs-28px: 1.75rem;
  --fs-20px: 1.25rem;
  --fs-16px: 1rem;
  /* Font weight */
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-semibold: 600;
  /*spacing */
  --spacing-128px: 8rem;
  --spacing-48px: 3rem;
  --spacing-40px: 2.5rem;
  --spacing-32px: 2rem;
  --spacing-24px: 1.5rem;
  --spacing-16px: 1rem;
  --spacing-12px: 0.75rem;
  --spacing-8px: 0.5rem;
}

/* CSS Reset based on modern best practices */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  background-color: var(--clr-rose-50);
  color: var(--clr-stone-900);
  font-family: var(--ff-Outfit);
  font-size: var(--fs-16px);
  letter-spacing: 0px;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.menu-card {
  max-width: 736px;

  @media (max-width: 768px) {
    /* Tablet styles go here */
    border-radius: 0;

    @media screen and (max-width: 30rem) {
      margin-inline: 0rem;
      max-width: 30rem;
    }
    padding: 0;
  }
  background-color: var(--clr-white);
  border-radius: var(--spacing-24px);
  padding: var(--spacing-40px);
  .menu-image {
    border-radius: var(--spacing-12px);
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .menu-info {
    margin-top: var(--spacing-40px);
    .menu-header {
      .menu-title {
        font-family: var(--ff-Youngserif);
        font-size: var(--fs-40px);
        line-height: 1;
      }
      .menu-description {
        margin-top: var(--spacing-16px);
      }
    }

    .preparation {
      margin-top: var(--spacing-32px);
      padding: var(--spacing-24px);
      background-color: var(--clr-rose-50);
      border-radius: var(--spacing-12px);
      .preparation-title {
        line-height: 1;
        font-weight: var(--fw-semibold);
        font-size: var(--fs-20px);
        color: var(--clr-rose-800);
      }
      .preparation-list {
        margin-top: var(--spacing-16px);
        padding-left: var(--spacing-24px);
      }
      .preparation-list li {
        padding-left: var(--spacing-16px);
        margin-bottom: var(--spacing-8px);
      }
    }

    .ingredients {
      margin-block: var(--spacing-32px);
      .ingredients-title {
        font-family: var(--ff-Youngserif);
        font-size: var(--fs-28px);
        line-height: 1;
        color: var(--clr-brown-800);
      }
      .ingredients-list {
        margin-top: var(--spacing-24px);
      }
    }

    .instruction {
      margin-block: var(--spacing-32px);
      .instruction-title {
        font-family: var(--ff-Youngserif);
        font-size: var(--fs-28px);
        line-height: 1;
        color: var(--clr-brown-800);
      }
      .instruction-list {
        margin-top: var(--spacing-24px);
      }
    }
  }

  .nutrition {
    margin-top: var(--spacing-32px);

    .nutrition-title {
      font-family: var(--ff-Youngserif);
      font-size: var(--fs-28px);
      line-height: 1;
      color: var(--clr-brown-800);
    }

    .nutrition-description {
      margin-top: var(--spacing-24px);
    }
    .nutrition-table {
      margin-inline: var(--spacing-16px);
      font-weight: var(--fw-normal);
      border-collapse: collapse;
      text-align: left;
      width: 100%;
      table-layout: fixed;

      tr:not(:last-child) {
        border-bottom: 1px solid var(--clr-stone-150);
      }

      td {
        padding: var(--spacing-12px) var(--spacing-32px);
      }

      .nutrition-title {
        font-weight: var(--fw-normal);
        font-family: var(--ff-Outfit);
        font-size: var(--fs-16px);
        color: var(--clr-stone-900);
      }
      .nutrition-value {
        color: var(--clr-brown-800);
        font-weight: var(--fw-bold);
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
