@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Color Palette */
  --clr-rose-800: #7a284e;
  --clr-rose-50: #fff7fb;
  --clr-stone-900: #312e2c;
  --clr-stone-600: #5f564d;
  --clr-stone-150: #e3ddd7;
  --clr-stone-100: #f3e5d7;
  --clr-brown-800: #854632;
  --clr-white: #ffffff;
  /* Font Families */
  --ff-Youngserif: "Young Serif", system-ui, sans-serif;
  --ff-Outfit: "Outfit", system-ui, sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
