@font-face {
  font-family: "FigTree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  fonnt-display: swap;
}

:root {
  /* Colors */
  --clr-yellow: #f4d04e;
  --clr-gray-950: #111111;
  --clr-gray-500: #6b6b6b;
  --clr-white: #ffffff;
  /*font*/
  --ff-figtree: "FigTree", system-ui, sans-serif;
  /*font-size*/
  --fs-xl: 1.5rem;
  --fs-lg: 1.25rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;
  /*font-weight*/
  --fw-medium: 500;
  --fw-extra-bold: 800;
  /*Spacing*/
  --space-24: 1.5rem;
  --space-12: 0.75rem;
  --space-8: 0.5rem;
  --space-4: 0.25rem;
}

/* CSS Reset based on modern best practices */
/*https://www.joshwcomeau.com/css/custom-css-reset/*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}
html {
  background-color: var(--clr-yellow);
  color: var(--clr-gray-950);
  font-family: var(--ff-figtree);
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.card-wrapper {
  max-width: 384px;
  border-radius: 20px;
  border: 1px solid black;
  padding: var(--space-24);
  background-color: var(--clr-white);
  box-shadow: 10px 10px black;

  @media screen and (max-width: 30rem) {
    margin-inline: var(--space-24);
  }

  .card-image {
    border-radius: 10px;
  }

  .card-content {
    margin-block: var(--space-24);

    .category {
      width: fit-content;
      border-radius: 4px;
      background-color: var(--clr-yellow);
      pad: 4px 12px;
      font-weight: var(--fw-extra-bold);
      font-size: var(--fs-sm);

      @media screen and (max-width: 30rem) {
        font-size: var(--fs-xs);
      }
    }
    .publish-date {
      margin-block: var(--space-12);
      font-size: var(--fs-sm);

      @media screen and (max-width: 30rem) {
        font-size: var(--fs-xs);
      }
    }
    .title {
      margin-bottom: var(--space-12);
      font-size: var(--fs-xl);
      font-weight: var(--fw-extra-bold);

      @media screen and (max-width: 30rem) {
        font-size: var(--fs-lg);
      }
    }
    .description {
      color: var(--clr-gray-500);
      font-size: var(--fs-md);

      @media screen and (max-width: 30rem) {
        font-size: var(--fs-sm);
      }
    }
  }

  .user {
    display: flex;
    align-items: center;

    gap: var(--sp-12);
    .user-name {
      font-weight: var(--fw-extra-bold);
      font-size: var(--fs-sm);
    }
  }
}
